# Torch dependencies
torch==2.7.0
# Huggingface dependencies
transformers[sentencepiece]==4.51.3
diffusers==0.33.1
accelerate==1.7.0
datasets==3.6.0
huggingface-hub==0.33.0
bitsandbytes==0.46.0
peft==0.15.2
# Common dependencies
numpy==2.2.6
pandas==2.3.0
# TTS
gtts==2.5.4
# Translation dependencies
googletrans==4.0.2
pycountry==24.6.1
# Splitting dependencies
pyphen==0.17.2
lingpy==2.6.13
epitran==1.26.0
# Bigram dependencies
nltk==3.9.1
wordfreq==3.1.1
# API dependencies
fastapi==0.115.12
uvicorn[standard]==0.34.3
# Performance dependencies
xformers==0.0.30
# flash_attn==2.7.3; sys_platform == 'linux'
triton-windows==3.3.1.post19; sys_platform == 'win32'
triton==3.3.0; sys_platform == 'linux'

#  ——— Linux wheels ———
nunchaku @ https://huggingface.co/mit-han-lab/nunchaku/resolve/main/nunchaku-0.3.0+torch2.7-cp310-cp310-linux_x86_64.whl; sys_platform == "linux" and python_version == "3.10"
nunchaku @ https://huggingface.co/mit-han-lab/nunchaku/resolve/main/nunchaku-0.3.0+torch2.7-cp311-cp311-linux_x86_64.whl; sys_platform == "linux" and python_version == "3.11"
nunchaku @ https://huggingface.co/mit-han-lab/nunchaku/resolve/main/nunchaku-0.3.0+torch2.7-cp312-cp312-linux_x86_64.whl; sys_platform == "linux" and python_version == "3.12"

#  ——— Windows wheels ———
nunchaku @ https://huggingface.co/mit-han-lab/nunchaku/resolve/main/nunchaku-0.3.0+torch2.7-cp310-cp310-win_amd64.whl; sys_platform == "win32" and python_version == "3.10"
nunchaku @ https://huggingface.co/mit-han-lab/nunchaku/resolve/main/nunchaku-0.3.0+torch2.7-cp311-cp311-win_amd64.whl; sys_platform == "win32" and python_version == "3.11"
nunchaku @ https://huggingface.co/mit-han-lab/nunchaku/resolve/main/nunchaku-0.3.0+torch2.7-cp312-cp312-win_amd64.whl; sys_platform == "win32" and python_version == "3.12"